@font-face {
    font-family: nb;
    src: url(./Fonts/NBInternationalProBoo.ttf);
}

@font-face{
    font-family: rj;
    src: url(./Fonts/Rejouice-Headline.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "nb";
}

body,html{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 249, 242);
    /* overflow-x: hidden; */
}


#page1{
    height: 100vh;
    width: 100vw;
    background-color: #ad5555;
    position: relative;
}

#page1 #crsr{
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

#page1 video{
    height: 100%;
    width: 100%;
    object-fit: cover ;
    position: absolute;
}

#page1-content{
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 10;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

nav{
    /* height: 100px; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3.3vw 3vw;
}

nav h3{
    font-size: 1.4vw;
    font-weight: 100;
}

nav h4{
    font-size: 1.4vw;
    font-weight: 100;
}

#page1-content h1{
    font-family: "rj";
    font-size: 27vw;
    font-weight: 100;
    line-height: 27vw;
    display: flex;
    padding:0 2vw;
}

#page1-content h1 span{
   font-family: "rj"; 
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 249, 242);
    position: relative;
    padding: 6vw 2.8vw;
}

#page2 #top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    /* background-color: red; */
    border-bottom: 1px solid #000;
    overflow: hidden;

}

#page2 #top #left{
    overflow: hidden;
}

#page2 #top #left1{
    overflow: hidden;
}

#page2 #top #left2{
    overflow: hidden;
}

#page2 #top #right{
    overflow: hidden;
}

#page2 #top h3{
    font-size: 1.6vw;
    font-weight: 100;
    overflow: hidden;
    /* background-color: #ff5f38; */
}



#page2 #elem{
    overflow: hidden;
    font-size: 2.05vw;
    font-weight: 100;
}

#page2 #elem h1{
    font-weight: 100;
    overflow: hidden;
}

#page2 #elem #lines{
    overflow: hidden;
}    

#page2 #elem #line1{
    text-align: center;
}

/* PAGE 3 */

#page3{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 0 3vw;
    display: grid;
    
}

#page3-top{
    text-align: center;
    /* background-color: #ff5f38; */
    margin-top: 35vh;
}

#page3-top h4{
    margin-bottom: 1vw;
    font-size: 1.1vw;
    font-weight: 500;
    position: relative;
}

#page3-top h4 span{
    font-size: 0.7vw;
    color: #fff;
    background-color: #000;
    padding: 4px 8px;
    border-radius: 10px;
}

#page3-top h4 #arr3{
    /* font-size: 0.7vw; */
    position:absolute;
    left: 53.3vw;
    top: 0.5vh;
    font-weight: 100;
    /* background-color: #fff; */
    /* color: #fff; */
    /* background-color: #000; */
    /* padding: 4px 8px; */
    /* border-radius: 10px; */
}

#page3-top h2{
    font-size: 4vw;
    font-weight: 500;
}

#page3-bottom{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#page3-bottom h2{
    font-weight: 500;
    font-size: 1.7vw;
}

#page3-bottom-right{
    width: 12.3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page3-bottom-right i{
    font-size: 1.7vw;
    font-weight: 100;
}

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(239, 128, 0);
    position: relative;
    padding: 0 3vw;
}

#page4-elements{
    height: 80vh;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    margin-top: 1vh;
    align-items: center;
    justify-content: space-between;
}

#page4-elements .box{
    height: 100%;
    width: 32.7%;
    /* background-color: rgb(0, 255, 170); */
    position: relative;
}

#page4-elements .box video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page4-elements .box img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all linear 0.8s;
}

#page4-elements .box:hover img{
    opacity: 0;
}

#page5{
    width: 100%;
    background-color: rgb(255, 249, 242);
    position: relative;
    padding: 2.8vw;
}

#page5 #top-4{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 1.2vw;
    margin-bottom: 1vw;
    /* background-color: red; */
    border-bottom: 1px solid #000;
    overflow: hidden;

}

#page5 #top-4 #left-4{
    overflow: hidden;
}

#page5 #top-4 #left1-4{
    overflow: hidden;
}

#page5 #top-4 #left2-4{
    overflow: hidden;
}

#page5 #top-4 #right-4{
    overflow: hidden;
}

#page5 #top-4 h3{
    font-size: 1.6vw;
    font-weight: 100;
    overflow: hidden;
    /* background-color: #ff5f38; */
}



#page5 #elem-4{
    overflow: hidden;
    font-size: 2.05vw;
    font-weight: 100;
}

#page5 #elem-4 h1{
    font-weight: 100;
    overflow: hidden;
}

#page5 #elem-4 #lines-4{
    overflow: hidden;
}    

#page5 #elem-4 #line1-4{
    text-align: center;
}


#page6{
    min-height: 100vh;
    width: 100%;
    /* background-color: rgb(184, 121, 50); */
    position: relative;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
}